<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verificación Fallida</title>
  </head>
  <body>
    <h1>Lo sentimos!</h1>
    <h3>No podemos verificar tu cuenta.</h3>
    <p>Intenta solicitar un nuevo correo de verificación y si el problema persiste, por favor,
      espera unos minutos e inténtalo más tarde.</p>
  </body>
</html>