<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verificación Exitosa</title>
  </head>
  <body>
    <h1>Hola!</h1>
    <h3>Tu cuenta ha sido verificada exitosamente!</h3>
    <p>Ya puedes cerrar esta pestaña.</p>
  </body>
</html>